/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*
These styles are here because the span is not explicitly in
the component template at build-time.
*/
.select-image-button > span.mat-button-wrapper,
.select-image-button > span.mat-button-wrapper > label {
  width: 100%;
  height: 100%;
  display: inline-block;
}
